<div>
    <a href="/" style="text-decoration: none; color:white">Weather</a>&nbsp &nbsp &nbsp
    <a href="/about" style="text-decoration: none; color:white">About</a>&nbsp &nbsp &nbsp
    <a href="/help" style="text-decoration: none; color:white">Help</a>
</div>
 <hr>